# Python
__pycache__/
*.pyc
*.pkl
.env

# Node
node_modules/
dist/

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python virtual environments
venv/
.venv/

# Other common Python ignores 
*.egg-info/
.pytest_cache/
.mypy_cache/
*.env